body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #f3f5fc;
  }

  .logo {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
  }
  .encrypt_button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */

    background: #0a3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .decrypt_button {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Light gray */

    background: #d8dfe8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0a3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  textarea {
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
  }
  button {
    margin-top: 10px;
  }